@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");
/*google fonts imports */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
* rule overrides all of the other defaults. So no padding, no margin and border box where size of content includes border and padding as well so that sizes are consistent across different tags
*/
/*CTRL SHIFT R to refresh the cache on live server */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* hides meet up times because is not design pretty but we still want to keep it for google searches*/
.hidden-heading {
  display: none;
}
header {
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  padding: 0 1rem; /*make sure the text does not stick to the edge */
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit; /*makes links same color of text established in body tag */
}

#menu {
  font-size: 1.1rem;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em; /*inherits size of 1.1rem parent so its 17.6px if broswer standard is 16px. This allows for more precise control over size and more consistency */
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  padding: 0 1rem;
  left: 0;
  box-shadow: inherit;
  display: none; /* nav not part of the DOM flow by default */
  top: 100%; /*when checked nav starts from bottom of parent element */
}
/*nav toggle with css*/
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

main {
  flex: 1 0 auto; /*make main element take any surplus space to push footer down. flex-grow, flex-shrink, flex-basis
  
  flex-basis: auto

The starting size of the child comes from:

its width/height if defined

otherwise, content size
  */
  margin-top: 47px;
}

#hero {
  height: 600px; /* use pixel for big content only because it will have an image in it*/
  width: 100%;
  background: url(../Images/hero-image.webp) no-repeat center center/cover; /*centered horizontally and verticall with no-repeat. Cover for no distorting image */
  position: relative;
}

#cover-text {
  background-color: rgba(
    241,
    109,
    107,
    0.7
  ); /*choose rgba because it lets you set the opacity */
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text > h2,
#cover-text > h3 {
  color: #ffffff;
}

#reasons {
  background-color: #ffffff;
  width: 90%;
  margin: 20px auto;
}

#reasons > h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 280%;
}

#feel-healthy {
  line-height: 20px;
}

#reasons p {
  padding: 0 20px;
}

#reasons hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

#benefits-physical > div,
#benefits-mental > div {
  line-height: 20px;
  margin-bottom: 20px;
}

#circle-cover-bg {
  background: url(../Images/reasons-image.webp) no-repeat top center/cover;
  width: 90vw;
  height: 90vw; /*use same value as width to make a square */
  margin-bottom: 20px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%; /*becomes circle */
  /*image is responsive, increases size up to 300px */
}

#benefits-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Meet-up Times Section */

#times {
  background: url(../Images/dublin-city.webp) no-repeat center center/cover;
  display: flex;
  flex-wrap: wrap;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
  flex-basis: 200px; /* min width */
  flex-grow: 1; /*expand if extra space */
  border: 2px solid white; /*creates a grid */
}

#times h3 {
  color: #fafafa;
}

/*FOOTER*/

#social-networks {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

#social-networks li {
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}
/* media queries go always at the bottom of the file and smaller screens queries first */

/*The base styling is for smartphones so the next screensize to adapt is TABLET: STANDARD BREAKPOINT WIDTH 768PX */

@media screen and (min-width: 768px) {
  /*Header*/
  nav {
    display: block;
    position: relative; /*pushes menu back inside header */
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px; /* gives more space at the top */
    margin: 0 0.5rem; /* adds breathing space to the right and left */
  }
  /* Adjust main tag so that it not hidden by bigger header */

  main {
    margin-top: 79px;
  }

  /* hero image*/
  #cover-text {
    width: 300px;
    right: 50px;
  }

  #benefits-mental,
  #benefits-physical {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #benefits-mental > div,
  #benefits-physical > div {
    width: 75%;
  }

  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  #menu a:hover {
    /*from laptop size it is not touch screen anymore and you can interact with content with mouse so you have hover interaction */
    border-bottom: 1px solid #3a3a3a;
  }
}

@media screen and (min-width: 1200px) {
  /* Reasons section */
  #benefits {
    display: flex;
    flex-direction: row;
  }

  #benefits > section > div {
    flex: 1;
  }

  #benefits-image {
    order: 0;
  }

  #benefits-mental {
    order: 1;
  }

  #benefits-mental > div {
    align-self: flex-start;
  }
  #benefits-physical > div {
    align-self: flex-end;
  }
}
