@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");
/*google fonts imports */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
* rule overrides all of the other defaults. So no padding, no margin and border box where size of content includes border and padding as well so that sizes are consistent across different tags
*/
/*CTRL SHIFT R to refresh the cache on live server */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  padding: 0 1rem; /*make sure the text does not stick to the edge */
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
}

h1 {
  font-family: "Oswald", sans-serif;
}

main {
  background-color: lightblue;
  flex: 1 0 auto; /*make main element take any surplus space to push footer down. flex-grow, flex-shrink, flex-basis
  
  flex-basis: auto

The starting size of the child comes from:

its width/height if defined

otherwise, content size
  */
}

footer {
  background-color: orange;
}
